.container {
    width: 100%;
    height: auto; /* Adjust height as needed */
  }
  
  .skeleton-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Adjust the gap as needed */
  }
  
  .language-bar {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure the bars take full width */
  }